@import url('https://rsms.me/inter/inter.css');

@import-glob "./elements/*.css";

:root {
    /* Shade in % */
    --shade-20: #00000031;
    --shade-50: #00000080;

    /* Logo colours */
    --yellow: #ffbb36;
    --brown: #392118;
    --light-brown: #c55020;
    --pink: #ea7aa1;
    --dark-pink: #92495d;
    --rose: #92495d;

    /* Mono */
    --fg: #ffffffcc;
    --bg: #1d1b23;
}

html { font-family: 'Inter', system-ui, sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', system-ui, sans-serif; }
}

body {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    height: 100vh;

    color: var(--fg) var(--bg);
    scrollbar-color: #2e2c32 #1b1920;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.2;

    margin: 0;
    padding: 0;

    user-select: none;
}

/* window content */
#body {
    display: block;

    flex: 1;
    overflow-y: auto;
}

::-webkit-scrollbar-thumb { background-color: #ffffff15 }
::-webkit-scrollbar { background-color: #00000015 }
::-webkit-scrollbar-corner { background-color: #ffffff15 }

::selection {
    background: #333470f8;
}

.light { color: #C1C1F1 }

/* Atoms (utility classes) */
.pad  { padding: 1em }
.padx { padding-left: 1em; padding-right: 1em }
.padl { padding-left: 1em }
.padr { padding-right: 1em }
.pady { padding-top: 1em; padding-bottom: 1em }
.padt { padding-top: 1em }
.padb { padding-bottom: 1em }
