@import-glob "./ui/**/*.css";
@import-glob "./elements/*.css";

:root {
    --ratio: 1.5rem; /* https://every-layout.dev/rudiments/modular-scale/ */
    --measure: 60ch; /* https://every-layout.dev/rudiments/axioms/ */

    /* Shade in % */
    --shade-20: #00000031;
    --shade-50: #00000080;

    /* Mono */
    --fg: #ffffffcc;
    --bg: #232229;
}

* {
    box-sizing: border-box;

    max-width: 100%;
    max-height: 100%;

    overflow: hidden;
}

html { font-family: 'Inter', system-ui, sans-serif; }
@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', system-ui, sans-serif; }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;

    color: var(--fg) var(--bg);
    scrollbar-color: #2e2c32 #1b1920;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: var(--ratio);

    margin: 0;
    padding: 0;

    font-size: 13px;

    user-select: none;
}

/* window content */
#body {
    display: block;

    flex: 1;
    overflow-y: auto;
}

::-webkit-scrollbar-thumb { background-color: #ffffff15 }
::-webkit-scrollbar { background-color: #00000015 }
::-webkit-scrollbar-corner { background-color: #00000015 }

::selection {
    background: #333470f8;
}

.light { color: #C1C1F1 }

p {
    width: 60ch;
}
