.MenuButton {
    font-size: 12px;
    font-weight: 400;

    background-color: transparent;
    transition: background-color 350ms ease;
}

.MenuButton:hover,
.MenuButton_active {
    background-color: #3f3d44;
    transition-duration: 100ms;
}

body.blur .MenuButton,
body.blur .MenuButton:not(:hover) {
    opacity: 0.5;
}

.MenuButtonItems {
    position: absolute;
    top: 30px;
}
