:root {
    --grey-9: #efefef;
    --grey-8: #c8c8c8;
    --grey-7: #a2a2a2;
    --grey-6: #7c7c7c;
    --grey-5: #5c5c5c;
    --grey-4: #494949;
    --grey-3: #393939
    --grey-2: #2c2c2c
    --grey-1: #1e1e1e;
    --grey-0: #080808;

    // Invert grey scale for light mode
    @media (prefers-color-scheme: light) {
        --grey-9: #080808;
        --grey-8: #1e1e1e;
        --grey-7: #2c2c2c;
        --grey-6: #393939;
        --grey-5: #494949;
        --grey-4: #5c5c5c;
        --grey-3: #7c7c7c;
        --grey-2: #a2a2a2;
        --grey-1: #c8c8c8;
        --grey-0: #efefef;
    }

    --yellow: #ffc639;
    --pink: #ea7aa1;
}

* {
    box-sizing: border-box;
}

html {
    font-family: system-ui;
    font-size: 14px;
}

body {
    color: var(--grey-9);
    background: var(--grey-0);

    margin: 0;
    padding: 0;

    overflow: hidden;
}

::selection {
    color: #000;
    background: var(--yellow);
}

.icon {
    display: inline-block;

    width: 1.25em;
    height: 1.25em;

    vertical-align: top;
}

// Used for app-wide loading and error states
.initial-load-container {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    height: 100vh;

    h1 {
        font-weight: 500;

        img {
            filter: grayscale(1);
        }
    }
}

#canvas {
    display: none;
}
