@use 'sass:color';

:root {
    --grey-9: #efefef;
    --grey-8: #c8c8c8;
    --grey-7: #a2a2a2;
    --grey-6: #7c7c7c;
    --grey-5: #5c5c5c;
    --grey-4: #494949;
    --grey-3: #393939;
    --grey-2: #2c2c2c;
    --grey-1: #1e1e1e;
    --grey-0: #111111;
    --grey-0-alpha-50: #11111180;

    // Invert grey scale for light mode
    @media (prefers-color-scheme: light) {
        --grey-9: #080808;
        --grey-8: #1e1e1e;
        --grey-7: #2c2c2c;
        --grey-6: #393939;
        --grey-5: #494949;
        --grey-4: #5c5c5c;
        --grey-3: #7c7c7c;
        --grey-2: #a2a2a2;
        --grey-1: #c8c8c8;
        --grey-0: #ffffff;
        --grey-0-alpha-50: #ffffff80;
    }

    --yellow: #ffc639;
    --pink: #ea7aa1;
}

* {
    box-sizing: border-box;
}

html {
    font-family: SF Pro, system-ui, sans-serif;
    font-size: 14px;
}

body {
    color: var(--grey-9);
    background: var(--grey-0);

    margin: 0;
    padding: 0;
}

.no-scroll {
    overflow: hidden;
}

::selection {
    color: #000;
    background: var(--yellow);
}

.icon {
    display: inline-block;

    width: 1.25em;
    height: 1.25em;

    vertical-align: top;
}

// Used for app-wide loading and error states
.initial-load-container {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    height: 100vh;

    h1 {
        font-weight: 500;

        img {
            filter: grayscale(1);
        }
    }

    p {
        max-width: 60ch;
        width: calc(100vw - 1em);

        a:any-link {
            color: var(--yellow);
        }
    }

    .error-details {
        color: var(--grey-6);
        text-align: left;
        font-family: monospace;
    }
}

#canvas {
    display: none;
}

.flex-grow {
    flex-grow: 1;
}

html, .App {
    background: var(--grey-0);
}

@mixin faded-dot-background($height) {
    background: linear-gradient(180deg,transparent 0, var(--grey-0) $height),
        fixed 0 0 /20px 20px radial-gradient(var(--grey-2) 1px,transparent 0),
        fixed 10px 10px / 20px 20px radial-gradient(var(--grey-2) 1px,transparent 0),
        var(--grey-0);
}

.initial-load-container,
#splash-page {
    @include faded-dot-background(600px);
}

#splash-page {
    header {
        $buttonHeight: 2.25em;

        padding: 0.3em 1em;
        height: calc($buttonHeight + 1em);

        background: var(--grey-0-alpha-50);
        backdrop-filter: blur(10px);

        border-bottom: 1px solid var(--grey-2);

        position: sticky;
        top: 0;
        width: 100%;
        height: 40px;
        z-index: 1;

        h1 {
            margin: 0;
            padding: 0;

            font-size: 1.25em;
            font-weight: 400;

            display: inline-block;
            line-height: calc($buttonHeight / 1.3);

            .icon {
                vertical-align: sub
            }
        }

        .author {
            margin: 0 0.5em;

            color: var(--grey-8);

            a {
                color: var(--grey-9);

                text-decoration: none;
                border-bottom: 1.5px solid currentColor;
            }
        }

        .right {
            float: right;

            display: flex;
            align-items: center;
            gap: 1em;

            height: $buttonHeight;
        }

        .button {
            height: $buttonHeight;
            text-decoration: none;
        }
    }

    .hero {
        text-align: center;

        padding: 6em 2em 0 2em;
    }

    .hero-logo {
        margin: 0;
        padding: 0;

        width: 24em;
        max-width: 100%;

        aspect-ratio: 56 / 15;
    }

    .hero-description {
        font-size: 2.1em;
        font-family: SF Pro Rounded, system-ui, sans-serif;
    }

    @media (max-width: 600px) {
        .hero-description {
            font-size: 24px;
        }
    }

    a {
        color: inherit;
    }

    .link,
    p a {
        display: inline-block;

        color: inherit;

        font-weight: 500;

        &:hover {
            color: var(--yellow);
        }

        &:active {
            transform: translateY(1px);
        }
    }

    main, .section-container {
        padding: 1em;
        margin: 0 auto;

        max-width: 36em;

        p, ul, hr {
            margin-inline: auto;
            max-width: 30em;

            font-size: 16px;
            line-height: 1.6;
        }

        hr {
            border: 0;
            border-top: 1px solid var(--grey-2);
            margin-block: 2em;
        }

        small {
            color: var(--grey-8);
        }

        section:not(:first-child) {
            margin: 4em 0;
        }
    }

    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding: 0.5em 1.25em;

        border: 1px solid var(--grey-3);
        border-bottom-width: 2px;
        border-radius: 4px;

        text-decoration: none;
        text-align: center;
        font-weight: 600;
        user-select: none;

        &:hover {
            background: var(--grey-1);
        }

        &:active {
            transform: translateY(1px);
        }
    }

    .big {
        padding: 0.75em 2em;
    }

    .cta {
        color: #000;
        background: var(--pink);
        border-color: rgb(172, 83, 114);

        &:hover {
            background: color.mix(#ea7aa1, #000, 90%);
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .center {
        text-align: center;
    }

    .screenshot {
        $width: 1115;
        $height: 769;

        display: block;
        margin: 0 auto;

        width: 100%;
        max-width: $width;
        aspect-ratio: #{$width} / #{$height};

        background: url(screenshot.png) no-repeat top center / cover;

        @media (max-width: 800px) {
            background-size: calc($width * 0.7) calc($height * 0.7);

            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100px;
                background: linear-gradient(transparent, var(--grey-0));
            }
        }
    }
}
