button {
    all: unset; /* reset user-agent <button/> styling */

    /* Center child elements */
    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &[disabled] {
        cursor: not-allowed;
    }

    min-height: 24px;

    padding: calc(.5em - 1px) 1.1em;

    font-size: 14px;
    font-weight: 500;

    opacity: .9;

    &:not([disabled]) {
        transition: opacity 150ms ease-out;

        &:hover, &:active {
            opacity: 1;
        }

        &:active {
            opacity: .8;
        }
    }

    /* icons */
    & svg  {
        height: 12px;
        width: 12px;

        margin-right: 8px;

        transform: scale(1.5);
    }

    color: #ffffffdd;

    &.yellow, &.pink {
        color: #000000aa var(--bg);
        font-weight: 600;
        border-radius: 4px;

        box-shadow: 0 2px 6px #00000044;
    }

    &.yellow {
        --bg: var(--yellow);
    }

    &.pink {
        --bg: var(--pink);
    }
}
