x-titlebar {
    width: 100%;
    height: 30px;
    line-height: 30px;

    display: flex;
    flex-direction: row;

    overflow: hidden;

    background: var(--bg);

    z-index: 1;
}

x-titlebar-icon {
    display: block;
    width: 30px;
    height: 30px;

    background-image: url(../../mamar.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-app-region: drag;
}

x-titlebar-title {
    position: fixed;
    width: 100%;
    height: 30px;
    overflow: hidden;

    color: #fff;
    font-size: 13px;
    text-align: center;

    z-index: -1; /* behind buttons */
}

x-titlebar-drag-region {
    flex: 1;
    height: calc(100% - 1px);
    -webkit-app-region: drag;
}

x-titlebar-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 45px;
    height: 30px;

    & img {
        width: 16px;
        height: 16px;
    }

    background-color: transparent;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;

    transition: background-color 100ms ease-out;
    &:hover {
        background-color: #ffffff22;
    }

    &.--minimize {
        background-image: url(icon/chrome-minimize.svg);
    }

    &.--maximize {
        background-image: url(icon/chrome-maximize.svg);
    }

    &.--close {
        background-image: url(icon/chrome-close.svg);

        &:hover {
            background-color: var(--pink);
        }
    }
}

body.blur x-titlebar-title,
body.blur x-titlebar-button:not(:hover) {
    opacity: 0.5;
}

body.maximized x-titlebar-button.--maximize {
    background-image:  url(icon/chrome-restore.svg);
}
