.container {
    position: relative;
}

.head {
    position: absolute;
    bottom: 0;
    z-index: 1;

    /* Downward triangle */
    $size: 21px;
    $color: color-mix(in srgb, var(--spectrum-global-color-gray-900) 50%, transparent);
    width: 0;
    height: 0;
    border-left: calc($size / 2) solid transparent;
    border-right: calc($size / 2) solid transparent;
    border-top: calc($size * 0.8) solid $color;

    transform: translateX(calc($size * -0.5));

    cursor: grab;
    will-change: left;

    &::after {
        content: "";
        position: fixed;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100vh;
        background: $color;
        pointer-events: none;
    }
}
