$ruler-height: 36px;

.ruler {
    display: flex;
    flex-direction: column;

    height: $ruler-height;

    --ticks-per-beat: 48px;

    background-color: var(--spectrum-global-color-gray-200);

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    user-select: none;
}

.rulerSegment {
    display: flex;
    color: var(--spectrum-global-color-gray-800);

    cursor: pointer;

    border-left: 1px dashed var(--spectrum-global-color-gray-400);
}

.loops {
    height: $ruler-height - 22px;
}

.loop {
    background-color: var(--yellow);

    border-radius: 6px;

    &.highlighted {
        filter: brightness(1.2);
    }

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
}

.loopIterCount {
    color: var(--spectrum-global-color-gray-200);
    margin-right: 4px;
    font-weight: 600;
    font-size: 0.9em;
}

.relative {
    position: relative;
}

.loopHandle {
    position: absolute;
    width: 16px;
    transform: translateX(-50%);
    height: 100%;

    pointer-events: auto;

    z-index: 1;

    &[data-kind=start] {
        cursor: w-resize;
    }

    &[data-kind=end] {
        cursor: e-resize;
    }

    &.active {
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        transform: none;
        z-index: 9999;
    }
}

.bars {
    cursor: grab;

    & > * {
        // Opt out of TimeGrid's grid layout, we only want the scrolling
        display: flex !important;

        --color: var(--spectrum-global-color-gray-400);
        background-image: repeating-linear-gradient(to right, var(--color) 0, var(--color) 1px, transparent 1px, transparent calc(var(--ticks-per-beat) / var(--ruler-zoom)));
        background-size: calc(var(--ticks-per-beat) / var(--ruler-zoom)) 50%;
        background-repeat: repeat no-repeat;
        background-position-y: calc(var(--ticks-per-beat) / 4);

        color: var(--spectrum-global-color-gray-700);
    }
}

.bar {
    padding-left: calc(8px / var(--ruler-zoom));
    border-left: var(--color) 1px solid; /* Extend the background-image */
    flex: none;
}
