$trackHeight: 70px;

.table {
    width: 100%;

    user-select: none;

    position: relative; /* for Playhead */

    display: grid;
    grid-template-columns: 225px auto;

    overflow-y: auto;
}

.track {
    display: flex;
    width: 100%;
    height: $trackHeight;

    background: var(--spectrum-gray-50);

    &:nth-child(even) {
        background: var(--spectrum-gray-75);
    }
}

.trackHead {
    border-right: 1px solid var(--spectrum-gray-100);

    padding: 4px 16px;
    width: 100%;
    height: 100%;

    position: sticky;
    left: 0;

    background: var(--spectrum-gray-100);

    .trackName {
        color: var(--spectrum-gray-900);
        margin-bottom: 4px;
    }
}

.pianoRollThumbnail {
    --color-800: #ffffffaa;
    --note-color: #00000044;
    --color-500: var(--spectrum-blue-700);
    --color-400: var(--spectrum-blue-600);
    --color-200: #000000cc;

    width: 100%;

    border: 1px solid var(--spectrum-gray-300);
    background: linear-gradient(var(--color-500) 0%, var(--color-400) 100%);
    color: #ffffffee;
    border-radius: 6px;
    overflow: hidden;

    height: $trackHeight;

    position: relative; // for svg

    &:focus-visible {
        outline: 3px solid var(--spectrum-gray-500);
    }

    .segmentName {
        padding: 6px 10px;
    }

    &.selected {
        --note-color: #00000055;
        border-color: var(--color-800);

        .segmentName {
            color: var(--color-200);
            background: var(--color-800);
        }
    }

    &.hasInterestingParentTrack {
        --color-500: var(--spectrum-indigo-700);
        --color-400: var(--spectrum-indigo-600);
    }

    &.drumRegion {
        --color-500: var(--spectrum-seafoam-700);
        --color-400: var(--spectrum-seafoam-600);
    }

    &.disabledRegion {
        --color-800: var(--spectrum-gray-800);
        --color-500: var(--spectrum-gray-500);
        --color-400: var(--spectrum-gray-400);
        --color-200: var(--spectrum-gray-200);
    }
}

.pianoRollThumbnail svg {
    width: calc(100% - 12px);
    height: calc(100% - 12px);

    position: absolute;
    inset: 6px;

    pointer-events: none;

    rect {
        fill: var(--note-color);
    }
}
