$trackHeight: 70px;
$trackHead-width: 8em;
$ruler-height: 22px;

.table {
    width: 100%;

    user-select: none;

    --ruler-zoom: 2;
}

.ruler {
    display: flex;
    width: max-content;
    height: $ruler-height;

    margin-left: $trackHead-width;

    --ticks-per-beat: 48px;
    --color: var(--spectrum-global-color-gray-400);
    background-color: var(--spectrum-global-color-gray-200);
    background-image: repeating-linear-gradient(to right, var(--color) 0, var(--color) 1px, transparent 1px, transparent calc(var(--ticks-per-beat) / var(--ruler-zoom)));
    background-size: calc(var(--ticks-per-beat) / var(--ruler-zoom)) 50%;
    background-repeat: repeat no-repeat;
    background-position-y: calc(var(--ticks-per-beat) / 4);

    position: sticky;
    top: 0;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    /* Hide ruler above where trackHeads are when scrolling */
    &::after {
        content: "";
        position: fixed;
        left: 0;
        width: $trackHead-width;
        height: $ruler-height;
        background: var(--spectrum-global-color-gray-100);
    }
}

.rulerSegment {
    display: flex;
    color: var(--spectrum-global-color-gray-800);
}

.loop {
    background: var(--yellow);
    color: var(--spectrum-global-color-gray-200);

    /* Need to repeat .ruler background-image here since we overlaid it with a yellow background */
    --color: rgba(0, 0, 0, 0.3);
    background-image: repeating-linear-gradient(to right, var(--color) 0, var(--color) 1px, transparent 1px, transparent calc(var(--ticks-per-beat) / var(--ruler-zoom)));
    background-size: calc(var(--ticks-per-beat) / var(--ruler-zoom)) 50%;
    background-repeat: repeat no-repeat;
    background-position-y: calc(var(--ticks-per-beat) / 4);
}

.bar {
    padding-left: calc(8px / var(--ruler-zoom));
    border-left: var(--color) 1px solid; /* Extend the background-image */
    flex: none;
}

.track {
    display: flex;
    width: max-content;
    height: $trackHeight;

    &:nth-child(even) {
        background: var(--spectrum-global-color-gray-75);
    }
}

.trackHead {
    width: $trackHead-width;
    border-right: 1px solid var(--spectrum-global-color-gray-100);

    padding: 4px 16px;
    height: 100%;

    position: sticky;
    left: 0;

    background: var(--spectrum-global-color-gray-100);

    .trackName {
        color: var(--spectrum-global-color-gray-900);
        margin-bottom: 4px;
    }
}

.pianoRollThumbnail {
    --color-800: #ffffffaa;
    --color-500: var(--spectrum-global-color-blue-500);
    --color-400: var(--spectrum-global-color-blue-400);
    --color-200: #000000cc;

    border: 1px solid var(--spectrum-global-color-gray-300);
    background: linear-gradient(var(--color-500) 0%, var(--color-400) 100%);
    color: #ffffffee;
    border-radius: 6px;
    overflow: hidden;

    height: $trackHeight;

    &:focus-visible {
        outline: 3px solid var(--spectrum-global-color-yellow-500);
    }

    .segmentName {
        padding: 6px 10px;
    }

    &.selected {
        border-color: var(--color-800);

        .segmentName {
            color: var(--color-200);
            background: var(--color-800);
        }
    }

    &.hasInterestingParentTrack {
        --color-500: var(--spectrum-global-color-indigo-500);
        --color-400: var(--spectrum-global-color-indigo-400);
    }

    &.drumRegion {
        --color-500: var(--spectrum-global-color-seafoam-500);
        --color-400: var(--spectrum-global-color-seafoam-400);
    }

    &.disabledRegion {
        --color-800: var(--spectrum-global-color-gray-800);
        --color-500: var(--spectrum-global-color-gray-500);
        --color-400: var(--spectrum-global-color-gray-400);
        --color-200: var(--spectrum-global-color-gray-200);
    }
}
