.commandList {
    list-style: none;
    padding: 0;
    margin: 0;

    font-size: 12px;
}

.command {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    padding: 0 6px;

    &[aria-selected="true"] {
        background-color: var(--spectrum-global-color-gray-200);
    }
}
