.lanes {
    display: flex;
    flex-direction: column;
}

.row {
    display: grid;
    grid-template-columns: 225px 1fr;
    height: 30px;
}

.label {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 16px;
    font-size: 12px;
    color: var(--spectrum-gray-800);
    background: var(--spectrum-gray-100);
    border-right: 1px solid var(--spectrum-gray-100);
    white-space: nowrap;
    overflow: hidden;
}

.master {
    height: 40px;
    background: var(--spectrum-gray-75);
}


.masterHeading {
    height: 30px;
    background: var(--spectrum-gray-100);
}

.inspector {
    padding: 0 16px 8px 16px;
    background: var(--spectrum-gray-100);
    border-bottom: 1px solid var(--spectrum-gray-300);
}
