.container {
    height: 100%;
    overflow: auto;

    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.command {
    display: inline-block;

    padding: 3px 8px;

    color: var(--spectrum-global-color-gray-900);
    background: var(--spectrum-global-color-gray-400);
    border: 1px solid #00000020;
    border-radius: 4px;

    font-weight: 500;

    &.orange {
        background: var(--spectrum-global-color-orange-400);
    }

    &.purple {
        background: var(--spectrum-global-color-purple-400);
    }
}

.inputBox {
    color: white;
    border-radius: 99px;
    border: 1px solid #00000020;
    padding: 2px;
}
