.container {
    height: 100%;
    overflow: overlay;

    background: var(--spectrum-global-color-gray-300);

    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.lineNumber {
    display: inline-block;
    position: absolute;

    height: 27px;
    line-height: 27px;

    text-align: center;
    color: var(--spectrum-global-color-gray-500);
    font-size: 12px;
    font-weight: 600;
    user-select: none;
}

.command {
    // Note: can't use --spectrum vars here as dragging brings them out of the Spectrum Provider

    display: inline-block;

    padding: 1px 6px;
    height: 27px;
    line-height: 22px;

    color: #ffffffcc;
    background: rgb(99, 99, 99);
    border: 1px solid #00000020;
    border-radius: 6px;

    font-size: 14px;
    font-weight: 600;

    box-shadow: 0 1px 2px 0 #00000040;

    &.control {
        background: #e68619;
    }

    &.playback {
        background: #9256d9;
    }

    &.master {
        background: #00a9e0;
    }

    &.track {
        background: #b93ea6;
    }

    &.seg {
        background: #22833f;
    }

    .dragging & {
        transform: scale(1.1);
    }
}

.inputBox {
    color: #ffffffdd;
    border-radius: 5px;
    border: 1px solid #00000020;
    background: #00000020;
    padding: 1px 0;
    margin: 0 4px;

    &:focus {
        color: #00000088;
    }
}
